<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	
	<link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"  rel="stylesheet" media="screen"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vizenControl.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vizenControl.css}"/>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-datepicker.standalone.min.css}"/>
	
	<link rel="shortcut icon" th:href="@{/images/favicon.png}"/>

</head>
<body class="h-100">

	<header th:replace="cabecalho"></header>
	
	<div th:replace="mensagemGeral"></div>
	<section class="mt-4" layout:fragment="conteudo">
		<!-- corpo / conteudo -->	
	</section>
	
	<footer class="bg-light text-center p-4 fixed-bottom">
		VizenControl
	</footer>

</body>
</html>