<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Mensagem geral -->
<div class="alert alert-success" role="alert"
	 th:if="${!#strings.isEmpty(mensagem)}">
	<span th:text="${mensagem}"></span>
</div>

<!-- Mensagem geral -->
<div class="alert alert-danger" role="alert"
	 th:if="${!#strings.isEmpty(mensagemNegado)}">
	<span th:text="${mensagemNegado}"></span>
</div>

</html>