<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layoutPadrao}">
  <head>
    <title>Pagamentos</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta http-equiv="refresh" content="300">
    <meta charset="utf-8">
    <style>
     
    </style>
  </head>
 <body>
 <section layout:fragment="conteudo">
   <div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Todos os pagamentos</h1>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${pagamentoDto}">
			<div th:replace="mensagemErro"></div>
			<div class="row">
				<div class="form-group  col-sm-6">
					<label class="control-label" for="idDispositivo">Id Dispositivo</label>
					<input type="text" class="form-control" id="idDispositivo" autofocus="autofocus" th:field="*{idDispositivo}"/>
				</div>
				<div class="form-group  col-sm-6">
					<button type="submit" class="btn  btn-primary" style="margin-top: 22px;">Pesquisar</button>				
				</div>
			</div>
			
		</form>
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>												
						<th>id Dispositivo</th>
						<th>Nome</th>
						<th>Data</th>
						<th>Valor</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="pagTemp : ${pagamentos}">						
						<td th:text="${pagTemp.usuario.idDispositivo}"></td>
						<td th:text="${pagTemp.usuario.nome}"></td>
						<td th:text="${pagTemp.dataFormatada}"></td>
						<td th:text="${{pagTemp.valorFormatado}}"></td>
						<td th:text="${pagTemp.status.descricao}"></td>
						<td>
							<div class="row">
								<div class="form-group  col-md-12 col-lg-4">								
									<form method="POST" th:action="@{/pagamentos/aprovar(id=${pagTemp.id})}">
										<button type="submit" class="btn  btn-success" style="margin-top: 22px;">
											<i class="glyphicon glyphicon-ok"></i>
											Aprovar
										</button>	
									</form>				
								</div>
								<div class="form-group  col-md-12 col-lg-4">								
									<form method="POST" th:action="@{/pagamentos/negar(id=${pagTemp.id})}">
										<button type="submit" class="btn  btn-danger" style="margin-top: 22px;">
											<i class="glyphicon glyphicon-ok"></i>
											Negar
										</button>	
									</form>				
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
</body>
</html>